@use '../_resources/breakpoint' as bp;
@use '../_resources/color' as color;
@use '../_resources/mixins' as mixins;
@use '../_resources/variables' as vars;

button {
  background-color: color.$btn-bg-color;
  border: none;
  border-radius: 5px;
  color: color.$btn-text-color;
  font-family: vars.$font-family;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 20px;

  &:hover {
    background-color: color.$btn-hover-bg-color;
    cursor: pointer;
  }
}

.danger {
  background-color: color.$danger-color;
  border: none;
  border-radius: 5px;
  color: color.$seasalt;
  font-family: vars.$font-family;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 20px;

  &:hover {
    background-color: color.$danger-hover-color;
    cursor: pointer;
  }
}

.icon + .danger {
  background-color: transparent;
  color: color.$danger-hover-color;

  &:hover {
    background-color: color.$danger-hover-color;
    color: color.$seasalt;
  }
}

.icon {
  margin: 0;
  padding: 0.5rem;
}

.w-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.transparent {
  background-color: transparent;
  color: color.$btn-bg-color;
  padding-bottom: 0;

  &:hover {
    background-color: transparent;
    color: color.$btn-hover-bg-color;
  }
}