@use '../_resources/breakpoint' as bp;
@use '../_resources/color' as color;
@use '../_resources/mixins' as mixins;

.form-container {
  margin: 0 auto;
  padding: 1rem;
  max-width: bp.$md;

  button {
    display: block;
    margin: 1.5rem auto;
    width: 100%;
  }

  .field-group {
    padding-top: 1rem;
  }

  .text-field-container {
    margin-top: 1rem;
  }

  .form-list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid color.$seasalt;

    &:last-child {
      border-bottom: none;
    }
  }

  .delete-button-container {
    button {
      margin: 0;
      padding: 0;

      &:hover {
        color: color.$link-hover-color;
      }
    }
  }
}

.form-list-item {
  .fields-container {
    width: 100%;
  }

  .delete-button-container {
    display: flex;
    justify-content: flex-end;
  }
}

.extra-form-button {
  float: right;
}

.select-field {
  width: 100%;
}

.phone-field-container {
  display: flex;
  gap: 1rem;

  .phone-separator {
    align-items: center;
    display: flex;
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: bp.$sm) {
  .flex-fields-container {
    display: flex;
    gap: 1rem;

    .text-field-container {
      flex: 1;
    }
  }
}