@use '../_resources/breakpoint' as bp;
@use '../_resources/color' as color;

.modal-container {
  background-color: color.$seasalt;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: bp.$sm;
  margin: 2rem auto;
  padding: 1.5rem;
  position: relative;

  .close-button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;

    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: color.$text-color;

      &:hover {
        color: color.$link-hover-color;
      }
    }
  }
}