@use '../resources/breakpoints' as *;
@use '../resources/color' as *;
@use '../resources/variables' as *;

button {
  background-color: $color-primary;
  color: $button-text-color;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: $font-family-base;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $tekhelet-soft;
  }

  &[type="submit"] {
    margin-top: 1.5rem;
  }
}

.icon {
  margin: 0;
  padding: 0.5rem;
}

.w-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.transparent {
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  padding-bottom: 0;

  &:hover {
    background-color: $color-secondary;
    color: $color-secondary;
  }
}

.text-style-btn {
  background-color: transparent;
  border: none;
  color: $color-primary;
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border-bottom: 1px solid $color-secondary;
    border-radius: 0;
    color: $color-secondary;
  }

  &.danger {
    color: $error-color-light;

    &:hover {
      color: $error-color;
      border-bottom: 1px solid $error-color;
    }
  }
}