@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

button {
  background-color: $primary-btn;
  color: $primary-btn-text;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary-btn-hover;
    color: $seasalt;
  }

  &:disabled {
    background-color: $slate-gray;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.danger {
  background-color: $danger-btn;
  border: 1px solid $danger-btn;
  color: $primary-btn-text;

  &:hover {
    background-color: $primary-btn-text;
    color: $danger-btn;
  }
}

.icon {
  margin: auto 0;
  padding: 0.5rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 4px 4px 0 4px; 
    fill: currentColor;
  }
}

.w-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.transparent {
  background-color: transparent;
  border: 1px solid $primary-btn;
  color: $primary-btn;

  &:hover {
    background-color: $primary-btn-hover;
    color: $primary-btn-text;
  }
}

.btn-center {
  align-items: center;
  display: flex;
  justify-content: center;

  button {
    width: 50%;
  }
}