@use '../.resources/colors.scss' as *;
@use '../.resources/screen-sizes.scss' as *;

button {
  align-items: center;
  background-color: $primary-btn-bg;
  border: 0;
  border-radius: 0.85rem;
  color: $primary-btn-color;
  display: flex;
  font-size: 0.9rem;
  padding: 10px 15px;
  width: 100%;

  &.icon {
    background-color: transparent;
    border: none;
    padding: 0.25rem;
    cursor: pointer;
    width: auto;
    display: flex;
    align-items: center;
    svg {
      margin: 0 auto;
    }
  }

  &.w-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &.small {
    border-radius: 1rem;
    font-size: 0.85rem;
    padding: 0.5rem 0.75rem;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    background-color: $primary-btn-bg-hover;
    cursor: pointer;
  }
}

.sign-out-btn {
  background: $sign-out-btn-bg;
  border: 1px solid $sign-out-btn-color;
  color: $sign-out-btn-color;
  font-size: 0.75rem;
  padding: 0.45rem 0.75rem;
  max-width: 100px;

  svg {
    width: 0.85rem;
    height: 0.85rem;
  }

  &:hover {
    background-color: $sign-out-btn-bg-hover;
  }
}