@use "@/styles/_resources/_color" as *;

.drawer-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 220px;

  li {
    margin: 0.75rem auto;
    width: 100%;

    &:hover {
      background-color: $african-violet-softest;
    }

    a, a:visited {
      color: $text-color-light;
      display: block;
      font-size: 1.2rem;
      padding: 0.5rem;
      text-decoration: none;
    }
  }
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}