@use "@/styles/_resources/_color.scss" as *;
@use "@/styles/_resources/_variable.scss" as *;

.form-container {
  border: 1px solid $border-color-light;
  border-radius: 8px;
  box-shadow: 0 2px 4px $border-color-light;
  max-width: $sm;
  margin: 2rem auto;
  padding: 1.5rem 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .text-field-container {
    margin: 1rem 0;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  button {
    width: 90%;
    margin: 1rem auto 2rem auto;
  }

  .links-container {
    text-align: center;
  }
}