@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

.form-container {
  border: $basic-border;
  border-radius: $border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: $md;
  padding: 2rem;

  button {
    width: 100%;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .links-container {
    border-top: solid 1px $tekhelet-soft;
    margin: 2rem auto 1rem auto;
    padding-top: 2rem;
    text-align: center;
    max-width: $xs;

    li {
      margin: 0.5rem 0;
    }
  }

  .text-field-container {
    margin-bottom: 1rem;
  }

  .flex-fields-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;

    .text-field-container {
      flex: 1;
    }
  }

  .flex-fields-container+.flex-fields-container {
    margin-top: 0;
  }
}

.form-header {
  display: flex;
  justify-content: space-between;
  
  h3 {
    margin-bottom: 1rem;
  }
}

.section-container {
  border: 2px solid $border-color;
  box-shadow: none;
  padding: 1rem;

  .btn-container {
    display: flex;
    justify-content: flex-end;

    button {
      max-width: 8rem;
    }
  }

  h2,h3 {
    font-family: 'Roboto', sans-serif;
  }
}


@media screen and (max-width: $sm) {
  .form-container {
    .flex-fields-container {
      flex-direction: column;
      gap: 0;
    }
  }
};