@use '../resources/breakpoints' as *;
@use '../resources/color' as *;

.form-container {
  max-width: $xs;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}