@use '../.resources/colors.scss' as *;
@use '../.resources/screen-sizes.scss' as *;

@mixin btn-link-styles {
  background-color: $navbar-color;
  border: 1px solid $navbar-link-color !important;
  color: $navbar-link-color;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $navbar-link-color; /* Change to a different color on hover */
    color: $navbar-color; /* Change text color on hover */
    cursor: pointer;
  }
}

#sign-in-link {
  @include btn-link-styles;

  &:hover {
    background-color: $navbar-link-color; /* Change to a different color on hover */
    color: $navbar-color !important; /* Change text color on hover */
  }
}

.main-nav {
  @include btn-link-styles;
  border: 0 !important;
  margin-left: 20px; /* Add some spacing between the links */
  height: 37px;
}