@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

.admin-list {
  border-top: $basic-border;
  padding: 2rem;

  .list-item {
    border: $admin-list-border;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;

    div {
      padding: 1rem;
      align-items: center;

      &:first-child {
        width: 10rem;
      }

      &:last-child {
        text-align: right;
        width: 12rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: $sm) {
  .admin-list {
    padding: 1rem;

    .list-item {
      flex-direction: column;

      div {
        &:last-child {
          text-align: left;
        }
      }
    }
  }
}