@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

.admin-list {
  border-top: $basic-border;
  padding: 2rem 0;

  .list-item {
    border: $admin-list-border;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;

    div {
      padding: 1rem 1rem 1rem 0;
      align-items: center;

      &.link-container {
        min-width: 10rem;
        max-width: 13rem;
      }

      &:last-child {
        text-align: right;
        width: 12rem;
      }
      
      a, .link-container {
        padding: 1rem;
      }
    }

    .missing-info {
      color: $soft-text-color;
      font-size: 0.875rem;
      font-style: italic;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &.ended {
      border: $list-item-ended-border;
      opacity: 0.75;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      .draft {
        color: $soft-text-color;
      }

      &.live {
        svg {
          fill: $pistachio;
        }
      }
    }
  }
}

.class-instances {
  color: $slate-gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;

  div {
    padding: 0 !important;
  }

  div+div {
    margin-top: 0.5rem;
  }
}

.condensed {
  border-top: none;
  padding: 1rem 0;

  .list-item {
    div {
      padding: 0.5rem 1rem;
      &:first-child {
        padding-top: 1rem;
      }
      &:last-child {
        width:auto;
      }
    }
    a {
      padding: 0 !important;
    }
  }
}

.admin-list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
  }
}

.schedule-day-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    margin: 1.75rem 1rem 1rem 1rem;
  }
}

.class-name-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;

  .class-name-item {
    align-items: center;
    border: $basic-border;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.5rem 1rem;

    .class-name {
      font-weight: 500;
    }

    .class-time {
      color: $slate-gray;
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: $sm) {
  .admin-list {
    padding: 1rem 0;

    .list-item {
      flex-direction: column;

      div {
        padding: 0.5rem 1rem;
        align-items: center;
        text-align: center;

        &:first-child {
          padding-top: 1rem;
          max-width: 94%;
        }

        &:last-child {
          margin: 0 auto;
          padding-bottom: 1rem;
          text-align: center;
        }
      }

      .link-container {
        margin: 0 auto;
        width: 100%;

        a {
          display: block;
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  .admin-list-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h2 {
      margin: 0;
    }
  }
}
