@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

.modal-container {
  // margin: auto auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 90%;
  max-width: 100%;
  max-height: 90vh;
  
  .modal-content-container {
    background-color: $bg-color-light;
    border: $modal-border;
    border-radius: $border-radius;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    // margin: 25% 1rem 25% 0rem;
    padding: 1.5rem;
    max-height: 80vh;
    overflow-y: auto;

    &.danger {
      border-color: $barn-red;
      font-size: 1.15rem;
    }
  }

  .danger-modal {
    h2 {
      color: $barn-red;
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}