@use "@/styles/_resources/_color.scss" as *;

.navigation-content {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;

  a {
    border-bottom: 1px solid $nav-bg-color-light;
    color: $nav-text-color-light;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $nav-text-color-light;
    }
  }

  ul {
    display: flex;
    gap: 2rem;
  }
}

.logo-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  svg {
    height: 50px;
    width: auto;
    color: $nav-text-color-light;
  }

  h1 {
    color: $nav-text-color-light;
    font-size: 1.5rem;
    margin: 0;
  }
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}