@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: $lg;

  .nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a, a:visited {
      border-bottom: 1px solid $nav-bg-color;
      font-size: 1rem;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        border-bottom: 1px solid $gold;
        color: $gold;
      }
    }
  }

  .MuiAvatar-colorDefault {
    background-color: $seasalt;
    color: $tekhelet;
  }

  .active, .active:visited {
    border-bottom: 1px solid $nav-text-color !important;

    &:hover {
      border-bottom: 1px solid $gold !important;
    }

    .MuiAvatar-colorDefault {
      background-color: $gold;
    }
  }

  .avatar-link {
    border-bottom: none !important;

    &:hover {
      border-bottom: none !important;
    }
  }
}