@use "@/styles/_resources/_color.scss" as *;
@use "@/styles/_resources/_variable.scss" as *;

.navigation-content {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;

  a {
    border-bottom: 1px solid $nav-bg-color-light;
    color: $nav-text-color-light;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $nav-text-color-light;
    }
  }

  ul {
    display: flex;
    gap: 2rem;
  }
  
  button {
    padding: 0;
  }
}

.logo-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  svg {
    height: 50px;
    width: auto;
    color: $nav-text-color-light;
  }

  h1 {
    color: $nav-text-color-light;
    font-size: 1.5rem;
    margin: 0;
  }
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

// Side Navigation

.side-nav-layout {
  display: flex;
}

.side-nav-container {
  border-right: 1px solid $border-color-light;
  min-width: 220px;
  max-width: $xxs;
  padding: 1rem 0;
}

.side-nav-link-container {
  a, a:visited {
    display: block;
    padding: 0.5rem;
    text-decoration: none;;

    &:hover {
      background-color: $admin-link-hover-bg-color;
      color: $admin-link-hover-color;
      text-decoration: none;
    }
  }

  .active {
    background-color: $admin-link-active-bg-color;
    color: $admin-link-active-color;
  }
}

@media screen and (max-width: $sm) {
  .side-nav-container {
    border-right: none;
  }

  .side-nav-layout {
    flex-direction: column;
  }
}