@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

.page-content-container {
  max-width: $lg;
  margin: 0 auto;
  padding: 1rem 2rem;

  h1 {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  h3 {
    color: $outer-space;
    margin-top: 0.75rem;
  }

  @media screen and (max-width: $sm) {
    padding: 1rem;
  }

  .danger-zone {
    margin: 2rem 0;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  .header-with-status {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
      display: flex;
      align-items: center;
    }
  }
}

.session-description {
  margin: 2rem 0;
  font-size: 1rem;
  color: $outer-space;
}