@use '../_resources/color.scss' as *;
@use '../_resources/variable.scss' as *;

.status {
  border-radius: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;

  svg {
    vertical-align: middle;
  }

  &.inactive {
    background-color: $inactive-bg-color;
    color: $inactive-font-color;

    &:hover {
      background-color: $inactive-font-color;
    }
  }

  &.live {
    background-color: $live-bg-color;
    color: $live-font-color;

    &:hover {
      background-color: $live-font-color;
    }
  }

  &:hover {
    color: $seasalt;
  }
}