@use '../resources/breakpoints' as *;
@use '../resources/color' as *;
@use '../resources/variables' as *;

.table {
  width: 100%;
  border: 1px solid $border-color-light;
  margin-bottom: 1rem;

  li {
    border-bottom: 1px solid $border-color-light;
    display: flex;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even) {
      background-color: $alt-table-row;
    }
  }

  .row-content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.5rem;
  }
}