APP_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5432/postgres
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/test
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_secret_key