APP_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5432/postgres
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/test
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_secret_key
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Rooster <no-reply@example.com>"