$brown-red: rgba(155,34,38, 1);
$oxidized-iron: rgba(74, 32, 18, 1);
$rusty-spice: rgba(150, 75, 0, 1);
$burnt-caramel: rgba(202, 103, 2, 1);
$golden-orange: rgba(238, 155, 0, 1);
$sunflower-gold: rgba(252, 191, 73, 1);
$vanilla-custard: rgb(244, 236, 224, 1);
$pearl-aqua: rgba(148,210,189, 1);
$dark-cyan: rgba(0, 147, 150, 1);
$dark-teal: rgba(0, 95, 115, 1);
$ink-black: rgba(0, 18, 25, 1);

$tekhelet: rgba(66, 44, 114, 1);
$african-violet: rgba(142, 123, 183, 1);

$eerie-black: rgba(33, 37, 41, 1);
$onyx: rgba(52, 58, 64, 1);
$outer-space: rgba(73, 80, 87, 1);
$slate-gray: rgba(108, 117, 125, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray: rgba(206, 212, 218, 1);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);


$oxidized-iron-75: rgba(74, 32, 18, 0.75);
$vanilla-custard-75: rgba(244, 236, 224, 0.75);
$seasalt-75: rgba(248, 249, 250, 0.75);
$vanilla-custard-50: rgba(244, 236, 224, 0.5);
$brown-red-50: rgba(155,34,38, 0.5);
$oxidized-iron-50: rgba(74, 32, 18, 0.5);
$slate-gray-50: rgba(108, 117, 125, 0.25);
$seasalt-50: rgba(248, 249, 250, 0.5);
$oxidized-iron-25: rgba(74, 32, 18, 0.25);
$rusty-spice-25: rgba(150, 75, 0, 0.25);
$seasalt-25: rgba(248, 249, 250, 0.25);
$vanilla-custard-25: rgba(244, 236, 224, 0.25);

$background-color: $vanilla-custard;
$navigation-color: $ink-black;

// Body colors
$bg-color: $background-color;
$navbar-color: $navigation-color;
$navbar-link-color: $bg-color;
$navbar-border-color: $vanilla-custard-50;
$header-color: $navbar-color;
$footer-color: $slate-gray;

// Buttons
$primary-btn-bg: $brown-red;
$primary-btn-bg-hover: $oxidized-iron;
$primary-btn-color: $seasalt;

// Btn Types
$sign-out-btn-bg: transparent;
$sign-out-btn-color: $slate-gray;
$sign-out-btn-bg-hover: $rusty-spice-25;

// Logged In Navigation
$lg-navbar-color: $seasalt-50;
$li-nav-border-color: $slate-gray-50;

// Admin Navigation
$admin-navbar-text: $vanilla-custard-75;
$admin-navbar-str-text: $golden-orange;
$admin-banner-link-bg: $brown-red;
$admin-banner-link-text: $seasalt;
$admin-dash-link-text: $vanilla-custard;
$admin-dash-link-active-bg: $brown-red;
$admin-dash-link-active-color: $seasalt;

$admin-sub-header-text-color: $slate-gray;

// Tables
$table-header-bg: $seasalt;
$table-border-color: $slate-gray-50;
$table-border-radius: 20px;
$table-cell-bg: $seasalt-25;