$brown-red: rgba(155,34,38, 1);
$oxidized-iron: rgba(74, 32, 18, 1);
$rusty-spice: rgba(150, 75, 0, 1);
$burnt-caramel: rgba(202, 103, 2, 1);
$golden-orange: rgba(238, 155, 0, 1);
$sunflower-gold: rgba(252, 191, 73, 1);
$vanilla-custard: rgb(244, 236, 224, 1);
$pearl-aqua: rgba(148,210,189, 1);
$dark-cyan: rgba(0, 147, 150, 1);
$dark-teal: rgba(0, 95, 115, 1);
$ink-black: rgba(0, 18, 25, 1);

$tekhelet: rgba(66, 44, 114, 1);
$african-violet: rgba(142, 123, 183, 1);

$eerie-black: rgba(33, 37, 41, 1);
$onyx: rgba(52, 58, 64, 1);
$outer-space: rgba(73, 80, 87, 1);
$slate-gray: rgba(108, 117, 125, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray: rgba(206, 212, 218, 1);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);


$vanilla-custard-50: rgba(244, 236, 224, 0.5);

// Body colors
$bg-color: $seasalt;
$navbar-color: $tekhelet;
$navbar-link-color: $bg-color;
$navbar-border-color: $vanilla-custard-50;