@use './resources/breakpoints' as *;
@use './resources/color' as *;
@use './resources/variables' as *;

@forward './components/buttons.scss';
@forward './components/drawer.scss';
@forward './components/forms.scss';
@forward './components/tables.scss';

body {
  font-family: $font-family-base;
  background-color: $bg-color-light;
  color: $text-color-light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
  margin: 0 0 1rem 0;
}

main, #footer-container, #nav-container {
  max-width: $max-main-width;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  background-color: $footer-bg-color-light;
  color: $nav-text-color-light;

  .copyright {
    text-align: center;
    padding: 1rem 0;
  }
}

main {
  min-height: 80vh;

  a, a:visited {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

nav {
  background-color: $nav-bg-color-light;
  color: $nav-text-color-light;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-container {
  padding: 2rem 1rem;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: $nav-link-color-light;
  text-decoration: none;
  margin-right: 1rem;

  &:hover {
    border-bottom: 2px solid $nav-link-color-light;
  }
}

#account-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-width: 220px;

  a, a:visited {
    border-bottom: 1px solid $seasalt;
    text-decoration: none;
    margin-bottom: 0.5rem;

    &:hover {
      border-bottom: 1px solid $color-primary;
    }
  }
}

.content-container {
  padding: 1rem;
  width: 100%;
}

.divider-top {
  border-top: 1px solid $french-gray;
  margin: 2rem 0;
  padding: 2rem 0;
}

.side-nav-layout {
  display: flex;
}

.side-nav-container {
  border-right: 1px solid $border-color-light;
  min-width: 220px;
  max-width: $xxs;
}

.side-nav-link-container {
  a, a:visited {
    display: block;
    padding: 0.5rem;
    text-decoration: none;;

    &:hover {
      background-color: $admin-link-hover-bg-color;
      color: $admin-link-hover-color;
      text-decoration: none;
    }
  }

  .active {
    background-color: $admin-link-active-bg-color;
    color: $admin-link-active-color;
  }
}

@media screen and (max-width: $sm) {
  .side-nav-container {
    border-right: none;
  }

  .side-nav-layout {
    flex-direction: column;
  }

  .content-container {
    padding: 1rem 0rem;
  }

  #main-container {
    padding: 1rem 0.5rem;
  }
}