@use './_resources/breakpoint' as bp;
@use './_resources/color' as color;
@use './_resources/mixins' as mixins;

@forward './components/navigation';

body {
  background-color: color.$bg-color;
  color: color.$text-color;
  font-family: Anziano, Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: color.$nav-link-color;
  text-decoration: none;

  &:hover {
    color: color.$nav-link-hover-color;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: color.$tekhelet;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  @include mixins.main-container;
  min-height: 80vh;
}

nav {
  background-color: color.$nav-bg-color;
}

footer {
  @include mixins.main-container;
}

