$xxs: 330px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

$breakpoints: (
  'xxs': $xxs,
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl
);

$max-main-width: $lg;

@mixin respond-to($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint: #{$breakpoint}";
  }
}