$tekhelet: rgba(66, 44, 114, 1);
$african-violet: rgba(142, 123, 183, 1);
$barn-red: hsla(0, 100%, 24%, 1);
$fire-brick: hsla(356, 83%, 41%, 1);

$eerie-black: rgba(33, 37, 41, 1);
$onyx: rgba(52, 58, 64, 1);
$outer-space: rgba(73, 80, 87, 1);
$slate-gray: rgba(108, 117, 125, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray: rgba(206, 212, 218, 1);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);
$white: rgba(255, 255, 255, 1);


$tekhelet-soft: rgba(66, 44, 114, .5);

// Variables
$bg-color: $seasalt;
$text-color: $onyx;
$divider-color: $french-gray;

$nav-bg-color: $tekhelet;
$nav-link-color: $seasalt;
$nav-link-hover-color: $african-violet;

$admin-link-hover-bg-color: $tekhelet;
$admin-link-hover-color: $seasalt;
$admin-link-active-bg-color: $tekhelet-soft;
$admin-link-active-color: $seasalt;

$btn-bg-color: $tekhelet;
$btn-text-color: $seasalt;
$btn-hover-bg-color: $african-violet;

$danger-color: $barn-red;
$danger-hover-color: $fire-brick;

$link-color: $tekhelet;
$link-hover-color: $african-violet;

$footer-bg-color: $french-gray;