// Breakpoints
$xxs: 330px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

// Font
$font-family: Anziano, Georgia, 'Times New Roman', Times, serif;


// Mixins
@mixin base-size {
  max-width: $lg;
  margin: 0 auto;
  padding: 0 1rem;
}